{% extends 'catalog/base.html' %}
{% load i18n %}
{% block title %}{% trans "Rejestracja nazwy" %}{% endblock %}
{% block content %}
<h1>{% trans "Zarejestruj nową nazwę" %}</h1>
<form method="post" class="mt-3">{% csrf_token %}
  {{ form.non_field_errors }}
  <div class="mb-3">
    {{ form.name.label_tag }}<br>
    {{ form.name }}
    {{ form.name.errors }}
  </div>
  <div class="mb-3">
    {{ form.country.label_tag }}<br>
    {{ form.country }}
    {{ form.country.errors }}
  </div>
  <div class="mb-3">
    {{ form.postal_code.label_tag }}<br>
    {{ form.postal_code }}
    {{ form.postal_code.errors }}
  </div>
  <div class="form-check mb-3">
    {{ form.accept_terms }} {{ form.accept_terms.label_tag }}
    {{ form.accept_terms.errors }}
  </div>
  <button type="submit" class="btn btn-primary">{% trans "Zarejestruj" %}</button>
</form>
{% endblock %}
